.contact-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/home-3.jpg");
  padding: 10vw;
  padding-top: 5vw;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-section {
  background-color: white;
  padding: 5vw;
  width: 80vw;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2vw;
}
.contact-section > * {
  background-color: rgb(239, 239, 239);
  padding: 3vw;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.contact-section > *:hover {
  border-radius: 100px;
}
.contact-section > .grid-header:hover {
  border-radius: 25px;
}
.contact-section > .grid-footer > ul {
  display: flex;
  gap: 1vw;
}
.contact-section > .grid-footer > ul > li {
  display: flex;
  align-items: center;
}

.timetable {
  background-image: url("./assets/icon/timetable.png");
}
.address {
  background-image: url("./assets/icon/location-pin.png");
}
.phone {
  background-image: url("./assets/icon/telephone.png");
}
.email {
  background-image: url("./assets/icon/email.png");
}
.twitter {
  background-image: url("./assets/icon/twitter.png");
  display: inline-block;
}
.facebook {
  background-image: url("./assets/icon/facebook.png");
  display: inline-block;
}
.instagram {
  background-image: url("./assets/icon/instagram.png");
  display: inline-block;
}
@media (max-width: 520px) {
  .contact-section > .grid-footer > ul {
    flex-direction: column;
    gap: 10px;
  }
  .contact-section > *:hover {
    border-radius: 50px;
  }
}
